/node_modules
/vendor
.git
.gitignore
.env
.env.*
!.env.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/hot
public/build
.phpunit.result.cache
.phpunit.cache
tests
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
.DS_Store
